{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Bienvenue chez
		<span class="index-titre">My_Eshop.</span>
	</h1>
	<h3>On n'attendait plus que vous !</h3>
	{% if isLogged() %}
		<p>my name is
			{{session.get('user').lastname|upper}}
			{{session.get('user').firstname|capitalize}}</p>
	{% endif %}
{% endblock %}
