{% if not isAdmin() %}
	{% do redirect('/home') %}
{% endif %}
{% extends 'base.html.twig' %}


{% block title %}Admin Panel
{% endblock %}

{% block content %}

	<section class="content_box"></section>


{% endblock %}
